body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logo {
    display: inline-block;
    height: auto;
    width: 128px;
    margin-top: -30px;
    margin-right: 30px;
}

.nav-links {
    margin-top: 10px;
    font-size: large;
}

.nav ul li a:hover {
    color: #18bc9c;
}

footer {
    text-align: center;
}

.tx-color {
    color: black;
}