@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<iframe src="https://giphy.com/embed/tVTnEqzAxxmyA" width="480" height="197" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

<div style="margin-top: 20px; font-size: 20px;">
    <p>
        Deviant Games is an e-commerce website, without the e-commerce part, for digital copies of video games.
    </p>
    <p>
        This site was created for educational purposes only and I am not affiliated with the games or companies shown here
        (please don't sue me).
    </p>
</div>
