@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <img src="~/Content/Images/camel.png" />
</div>


<p style="margin-top: 10px; font-size: 18px; font-weight: bold;">
    Hello stranger! My name is Marko and I made this dolar store version of the Steam shop as a project for my Internet Technologies uni course.
    Feel free to look around.
</p>

<address style="font-size: 20px">
    <strong>My Github page:</strong>   <a href="https://github.com/dev-marko">dev-marko</a><br />
    <strong>My Hashnode blog:</strong> <a href="https://mspasenovski.hashnode.dev/">mspasenovski</a>
</address>